/* ---------- 全局 CSS ---------- */
* {
    margin: 0;
    padding: 0;
    transition: all .5s;
    font-family: Helvetica, Tahoma, Arial, STXihei, "Microsoft JHengHei", "Microsoft YaHei", sans-serif
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

a {
    cursor: pointer;
    color: #333333;
    text-decoration: none;
}

a:hover, a:active {
    color: #333333;
    text-decoration: solid;
}

/* 内部元素透明 */
.opacity * {
    opacity: 0;
}

#locker {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0);
    z-index: 999;
}

.notification {
    opacity: 0;
    height: 2em;
    width: 100%;
    font-size: 1.2em;
    line-height: 2em;
    text-align: center;
    background: #fff;
    border: 1px solid #fff;
    position: fixed;
    bottom: -2em;
    left: 0;
    z-index: 7
}

.shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(0, 0, 0, .3);
    z-index: 5;
}

/* ---------- 头部 ---------- */
header {
    width: 100%;
    height: 100%;
    background-size: cover;
    transition: all 0s;
}

/* 给头部背景图片加一个阴影 */
/* 可以避免亮度过高的图片, 白色字体显示不清晰 */
header::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .5s;
    background-color: rgba(32, 48, 48, 1);
}

/* 最上面一排按钮 */
header #header-list {
    position: absolute;
    width: calc(100% - 1.4rem);
    height: 1.5rem;
    top: 1rem;
    padding: 0 .7rem;
}

header .header-list-left, header .header-list-right {
    cursor: pointer;
    color: #ffffff;
    font-size: 1.2em;
    line-height: 1.5rem;
    margin: 0 .3rem;
}

header .header-list-right {
    margin: 0 .5rem;
    padding-top: 0;
    padding-bottom: 0;
    float: right;
}

header #header-hr {
    border: .1rem solid #FFFFFF;
    border-radius: .05rem;
    width: 50%;
    position: absolute;
    margin-left: -25%;
    left: 50%;
    top: calc(30% + 5rem);
}

header #sub-title {
    color: #FFFFFF;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    position: absolute;
    margin-left: -50%;
    left: 50%;
    top: calc(30% + 6rem);
}

header #starter {
    cursor: pointer;
    position: absolute;
    margin-left: -1rem;
    bottom: 4rem;
    left: 50%;
    width: 2rem;
    height: 2rem;
    border: .3rem solid #FFFFFF;
    border-top: none;
    border-right: none;
    color: #FFFFFF;
    transform: rotateZ(-45deg);
    animation: starter 2s infinite;
}

@keyframes starter {
    60% {
        bottom: 2.5rem;
    }
}

/* ---------- 伪头部 ---------- */
#header {
    width: 100%;
    height: 4rem;
    background: #223333;
    position: fixed;
    top: -4rem;
    left: 0;
    transition: all 0s;
    z-index: 9;
}

#header #main-title {
    width: 100%;
    position: fixed;
    top: 30%;
    transition: all 0s;
}

#header #main-title #main-title-content {
    text-align: center;
    color: #FFFFFF;
    font-size: 2rem;
    line-height: 4rem;
    white-space: nowrap;
}

/* ---------- 搜索框 ---------- */
#search {
    position: fixed;
    top: -4em;
    height: 4em;
    width: calc(100% - 4em);
    margin: 0 2em;
}

#search #search-input {
    width: calc(100% - 2em);
    margin: 1em 0;
    padding: 0 1em;
    font-size: 1em;
    line-height: 2em;
    border: 1px solid #eee;
    border-radius: .25em;
}

#search #search-icon {
    font-size: 1.2em;
    position: absolute;
    right: .5em;
    top: 1.2em;
}

/* ---------- 登录 ---------- */
#login {
    width: 20em;
    height: 15em;
    position: fixed;
    margin-top: -7.5em;
    margin-left: -10em;
    top: 150%;
    left: 50%;
    z-index: 8;
}

/* ---------- toDoList ---------- */
.edit-to-do-list {
    width: 20em;
    height: 28em;
    position: fixed;
    margin-top: -14em;
    margin-left: -10em;
    top: 150%;
    left: 50%;
    z-index: 8;
}

.to-do-lists-middle, .to-do-lists, .to-do-lists-finished {
    word-wrap: break-word;
    padding-top: .8em !important;
    padding-bottom: .8em !important;
}

.to-do-lists-middle {
    text-align: center;
}

.to-do-lists *, .to-do-lists-finished * {
    display: inline-block;
    vertical-align: middle;
}

.to-do-lists span, .to-do-lists-finished span {
    width: calc(100% - 8em);
    padding: 0 1em;
}

.to-do-lists-finished span {
    color: #aaaaaa;
    text-decoration: line-through;
}

.to-do-lists .fa, .to-do-lists-finished .fa {
    font-size: 1.5em;
    margin-left: .5em;
}

/* ---------- 主区块 ---------- */
.vertical main {
    display: block;
    width: 100%;
}

.broad-main main #main-block {
    width: 90% !important;
}

.vertical main #main-block {
    margin: 0 auto 2em;
    width: 35%;
}

main {
    min-height: calc(100% - 6em);
    display: inline-block;
    vertical-align: top;
    margin-top: 2em;
    width: 60%;
}

main #main-block {
    width: 50%;
    margin: 0 2em 2em auto;
}

/* 文章列表的卡片 */
.card {
    display: block;
    color: #000000;
    width: calc(100% - 4rem);
    height: auto;
    padding: 1.5rem 1.8rem;
    margin: 2rem 0;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
    transition: all .3s;
}

.card:first-child {
    margin-top: 0;
}

.card:hover {
    padding: 1.5rem 2rem;
    margin-left: -.2rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, .5)
}

/* 文章的编辑删除按钮 */
#article-admin {
    margin: 1em 0;
}

#article-admin #article-edit, #article-admin #article-delete {
    color: #FFFFFF;
    padding: .5rem 1rem;
    border: 1px solid;
    margin: .5rem .5rem .5rem 0;
}

#article-admin #article-edit {
    background-color: #005cc5;
    border-color: #005cc5;
}

#article-admin #article-edit:hover {
    color: #005cc5;;
    background-color: #ffffff;
}

#article-admin #article-delete {
    background-color: #dd4444;
    border-color: #dd4444;
}

#article-admin #article-delete:hover {
    color: #dd4444;
    background-color: #ffffff;
}

/* 文章列表的前后页导航 */

#nav {
    width: 100%;
    text-align: center;
}

#nav a {
    color: #000000;
    font-size: 1.2rem;
    line-height: 2rem;
    margin: 0 1em;
}

/* 通用的编辑器样式 */
.editor {
    width: 100%;
}

.editor input, .editor select, .editor textarea, .editor button {
    width: calc(100% - 2em);
    height: 2em;
    margin: 1em 0;
    padding: 0 1em;
    font-size: 1em;
    line-height: 2em;
    border: 1px solid #eee;
    border-radius: .25em;
}

.editor textarea {
    min-height: 15em;
}

.editor button, .editor select {
    width: 100%;
}

/* 评论块 */
#comment {
    border-top: 3px solid #aaaaaa;
    margin-top: 2em;
    padding-top: 2em;
}

/* message */
.message-read .fa, .message .fa {
    margin-right: .5em;
}

.message-read * {
    color: #aaaaaa !important;
}

/* ---------- 侧栏 ---------- */
.hide-aside aside {
    display: none !important;
}

.vertical aside {
    display: block;
    width: 100%;
    background: #223333;
    color: #FFFFFF;
    border-left: none;
    padding: 2em 0 1em;
}

.vertical aside #aside-block {
    margin: auto;
    width: 35%;
}

.vertical aside #aside-block .categories {
    color: #FFFFFF;
}

.vertical aside #aside-block .categories:hover {
    color: #FFFFFF;
}

aside {
    display: inline-block;
    vertical-align: top;
    width: 38%;
    margin-top: 2em;
    transition: all 0s;
    border-left: 1px solid #999999;
}

aside #aside-block {
    width: 50%;
    margin: 0 0 2em 2em;
}

aside #aside-block .aside-title {
    font-size: 1.2rem;
    margin-top: .5rem;
}

aside #aside-block hr {
    margin: 1em 0;
}

/* ---------- 标签和分类 ---------- */
.tags, .categories {
    font-size: 1rem;
    cursor: pointer;
}

.tags {
    display: inline-block;
    color: #FFFFFF;
    padding: .5rem;
    background: #666666;
    border: 1px solid #666666;
    margin: .5rem .5rem .5rem 0;
}

.tags:hover {
    color: #666666;
    padding: .5rem;
    background: #FFFFFF;
    margin: .5rem .5rem .5rem 0;
}

.categories {
    color: #000000;
    display: block;
    padding: 1rem 1rem 1rem 0;
}

.categories:hover {
    color: #000000;
}

/* ---------- 页尾 ---------- */
footer {
    width: 100%;
    padding: 2rem 0 3rem;
    background: #223333;
}

footer p {
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.2rem;
    position: absolute;
    margin-left: -50%;
    left: 50%;
    color: #FFFFFF;
}

footer a {
    color: #FFFFFF;
}

footer a:hover {
    color: #FFFFFF;
}

/* ---------- 加载动画 ---------- */
#loader1, #loader2, #loader3, #loader4 {
    opacity: 0;
    position: fixed;
    top: 100%;
    left: calc(50% - 3.5em);
    border: .5rem solid;
    border-radius: 999rem;
    animation: loading 2s infinite;
}

.active #loader1, .active #loader2, .active #loader3, .active #loader4 {
    opacity: 1;
    top: 80%
}

#loader1 {
    border-color: #d62d20;
}

#loader2 {
    border-color: #0057e7;
    margin-left: 2rem;
    animation-delay: .2s;
}

#loader3 {
    border-color: #008744;
    margin-left: 4rem;
    animation-delay: .3s;
}

#loader4 {
    border-color: #ffa700;
    margin-left: 6rem;
    animation-delay: .4s;
}

@keyframes loading {
    10% {
        margin-top: .5em;
    }
    30% {
        margin-top: -.5em;
    }
    60% {
        margin-top: 0;
    }
}

/* ---------- 响应式 ---------- */
/* 1920px */
@media (min-width: 120rem) {
    html {
        font-size: 150%;
    }
}

/* 2560px */
@media (min-width: 160rem) {
    html {
        font-size: 200%;
    }
}

/* 3840px */
@media (min-width: 240rem) {
    html {
        font-size: 250%;
    }
}

/* 1600px */
@media (max-width: 100rem) {
    main #main-block, aside #aside-block {
        width: 60%;
    }

    .vertical main #main-block, .vertical aside #aside-block {
        width: 40%;
    }
}

/* 1280px */
@media (max-width: 80rem) {
    main #main-block, aside #aside-block {
        width: 75%;
    }

    .vertical main #main-block, .vertical aside #aside-block {
        width: 45%;
    }
}

/* 960px */
@media (max-width: 60rem) {
    main #main-block, aside #aside-block {
        width: 85%;
    }

    .vertical main #main-block, .vertical aside #aside-block {
        width: 50%;
    }
}

/* 800px */
@media (max-width: 50rem) {
    main, aside {
        display: block;
        width: 100%;
    }

    aside {
        background: #223333;
        color: #FFFFFF;
        border-left: none;
        padding: 2em 0 1em;
    }

    aside #aside-block {
        margin-bottom: 0;
    }

    aside #aside-block .categories {
        color: #ffffff;
    }

    main #main-block, aside #aside-block {
        width: 60%;
        margin: auto;
    }

    .vertical main #main-block, .vertical aside #aside-block {
        width: 60%;
    }
}

/* 640px */
@media (max-width: 40rem) {
    html {
        font-size: 95%;
    }

    main #main-block, aside #aside-block {
        width: 80%;
    }

    .vertical main #main-block, .vertical aside #aside-block {
        width: 80%;
    }
}

/* 480px */
@media (max-width: 30rem) {
    html {
        font-size: 90%;
    }

    main #main-block, aside #aside-block {
        width: 90%;
    }

    .vertical main #main-block, .vertical aside #aside-block {
        width: 90%;
    }
}
